**/.DS_Store
.vscode/settings.json
__pycache__/
CA2/checkpoints/
Project/Phase2/data/finall_df.csv
Project/Phase3/best_model
Project/Phase3/mlruns
Project/mlruns
CA5&6/3_LLM_for_MCQs/swag_dataset
Project/Phase3/mlflow.db
mlruns/0/meta.yaml